@charset "utf-8";



/* footer.css */
footer {
    width: 100%;
    padding: 50px 0;
    box-sizing: border-box;
    background-color: #333;
}

footer .common_inner {}

footer .footer_menu {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    gap: 0 20px;
}

footer .footer_menu a {
    font-size: 16px;
    font-size: 1rem;
    color: #ccc;
}

footer .footer_menu a:hover {
    font-weight: 600;
}

footer .footer_info {
    margin-bottom: 10px;
}

footer .footer_info p {
    display: inline;
    font-size: 16px;
    font-size: 1rem;
    color: #ccc;
}

footer .footer_info p~p {
    margin-left: 10px;
}

footer .footer_info p a {
    display: inline;
    color: #ccc;
}

footer .footer_info p a:hover {
    font-weight: 600;
}

footer .copyright {
    font-size: 20px;
    font-weight: 400;
    color: #ccc;
}

.main_color {
    color: #f0513f;
    font-weight: 600;
}