@charset "utf-8";



/* header-mobile.css */
 
@media all and (max-width : 767px) {
    /* header */
    header {
        height: 70px;
    }

    header .common_inner {
        padding: 0 20px;
    }

    header .logo {
        padding: 22px 0;
    }

    header .logo a {
        width: 130px;
    }

    header .logo a img {
        height: 26px;
    }

    header .gnb {
        position: absolute;
        top: 70px;
        left: 0;
        /* 초기값 */
        display: none;
    }

    header .gnb ul {
        width: 100vw;
        background-color: rgba(255, 255, 255);
        flex-direction: column;
        justify-content: start;
    }

    header .gnb ul li {
        padding: 20px 20px;
        line-height: 30px;
        border-bottom: 1px solid #ccc;
    }

    header .language_box {
        display: none;
    }

    /* ham */
    header .ham {
        height: 70px;
        padding: 22px 0;
        box-sizing: border-box;
        display: block;
    }

    header .ham span {
        display: block;
        width: 32px;
        height: 2px;
        background-color: #444;
    }

    span.top {
        margin-bottom: 7px;
    }

    span.mid {
        margin-bottom: 8px;
    }

}