@charset "utf-8";



/* index-mobile.css */
@media all and (max-width : 767px) {

    /* game_video */
    section.game_video .title {
        font-size: 28px;
        font-size: 1.75rem;
    }

    /* main */
    .subtit_box {
        padding: 0 20px;
        box-sizing: border-box;
    }

    .subtit_box h2 {
        font-size: 24px;
        font-size: 1.5rem;
    }

    /* game슬라이드 영역역 */
    .slide .slide_caption {
        padding: 0 20px;
    }

    .slide .slide_caption h3 {
        font-size: 20px;
        font-size: 1.25rem;
    }

    /* 뉴스 */
    main article.news .art_box {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    main article.news .art_box .content {
        width: 100%;
        margin-bottom: 24px;
        /* 424px(콘텐츠너비) / 부모 공간 1320px x 100(백분율) = 32.1212..  */
    }
    main article.news .art_box .content~.content {
        /* flex의 마진을 설정하는 gap으로 값을 부여해도 된다. */
        margin-left: 0;
    }
    .content .content_caption {
        padding : 0 16px;
    }
    .content .content_caption h3{
        font-size : 16px;
        font-size : 1rem;
    }

    /* contact */
    article.contact .contact_box .employ_copy{
        padding : 0 20px;
        margin-bottom: 30px;
    }
    article.contact .contact_box .employ_copy h3{
        font-size : 24px;
        font-size: 1.5rem;
    }
    article.contact .contact_box .employ_content_box {
        flex-direction: column;
        gap : 30px 0;
    }
    article.contact .contact_box .employ_content_box>div a img{
        padding-top: 30px;
        transition: all 0.5s ease;
    }
}