@charset "utf-8";


/* reset.css */

/* 구글폰트 정보 */
/* .noto-sans-kr-<uniquifier> {
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Noto Sans KR", serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

ol,
ul,
li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
}